Package: com.futur3sn0w.mutemodule
Icon: https://futur3sn0w.github.io/repo/icons/com.futur3sn0w.mutemodule.png
SileoDepiction: https://futur3sn0w.github.io/repo/depictions/com.futur3sn0w.mutemodule.json
Name: MuteModule
Version: 0.0.1
Architecture: iphoneos-arm64
Description: Exposes Apple's hidden Control Center mute module on iPhone.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate
Conflicts: com.futur3sn0w.mutecontroltoggle
Replaces: com.futur3sn0w.mutecontroltoggle
