Package: com.futur3sn0w.duowall
Name: DuoWall
Version: 0.0.4
Architecture: iphoneos-arm64
Description: Create and apply a native wallpaper pair that follows the system light and dark appearance on iOS 15 and 16.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
