Package: com.futur3sn0w.duowall
Name: DuoWall
Version: 0.0.1
Architecture: iphoneos-arm64
Description: Create a native wallpaper pair that follows the system light and dark appearance.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
