Package: com.futur3sn0w.ccsupportbatteryfix
Icon: https://futur3sn0w.github.io/repo/icons/com.futur3sn0w.ccsupportbatteryfix.png
SileoDepiction: https://futur3sn0w.github.io/repo/depictions/com.futur3sn0w.ccsupportbatteryfix.json
Name: CCSupport Battery Fix
Version: 0.0.2
Architecture: iphoneos-arm64
Description: Fix battery percentage display when CCSupport is installed on iOS 15+.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, com.opa334.ccsupport
