Package: com.futur3sn0w.finn
Icon: https://futur3sn0w.github.io/repo/icons/com.futur3sn0w.finn.png
SileoDepiction: https://futur3sn0w.github.io/repo/depictions/com.futur3sn0w.finn.json
Name: Finn
Version: 1.0.1
Architecture: iphoneos-arm64
Description: Tints the homescreen context-menu backdrop to the app icon color. Rootless rewrite of Koi for iOS 15 & 16.
Author: Futur3Sn0w
Maintainer: Futur3Sn0w
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
