Name: SwipeForMore7
Package: com.futur3sn0w.swipeformore7
Icon: https://futur3sn0w.github.io/repo/icons/com.futur3sn0w.swipeformore7.png
SileoDepiction: https://futur3sn0w.github.io/repo/depictions/com.futur3sn0w.swipeformore7.json
Maintainer: Futur3Sn0w
Author: Futur3Sn0w
Depends: firmware (>= 7.0), firmware (<= 7.1.7), mobilesubstrate, preferenceloader
Section: Tweaks
Version: 1.2.5+ios7.12
Architecture: iphoneos-arm
Description: Swipe to manage packages in Cydia on iOS 7.
