Package: com.futur3sn0w.solert
Name: Solert
Version: 0.0.1
Architecture: iphoneos-arm64
Description: iOS 26-inspired UIAlertController restyling for iOS 15.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: firmware (>= 15.0)
