Package: com.futur3sn0w.centerlastrow
Icon: https://futur3sn0w.github.io/repo/icons/com.futur3sn0w.centerlastrow.png
SileoDepiction: https://futur3sn0w.github.io/repo/depictions/com.futur3sn0w.centerlastrow.json
Name: CenterLastRow
Version: 0.0.1
Architecture: iphoneos-arm
Description: Centers the final SpringBoard icon row when it is not full.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: mobilesubstrate
