Package: com.futur3sn0w.battfx
Icon: https://futur3sn0w.github.io/repo/icons/com.futur3sn0w.battfx.png
SileoDepiction: https://futur3sn0w.github.io/repo/depictions/com.futur3sn0w.battfx.json
Name: BattFX
Version: 0.0.4
Architecture: iphoneos-arm64
Description: Style the system battery indicator while keeping the modern percentage.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
