Package: com.futur3sn0w.taptimeneo
Name: TapTimeNeo
Version: 0.0.1
Architecture: iphoneos-arm64
Description: Tap the status bar clock to briefly show the date on iOS 15+.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: firmware (>= 15.0)
