Package: com.futur3sn0w.custhome
Icon: https://futur3sn0w.github.io/repo/icons/com.futur3sn0w.custhome.png
SileoDepiction: https://futur3sn0w.github.io/repo/depictions/com.futur3sn0w.custhome.json
Name: CustHome
Version: 0.1.0-15probe2
Architecture: iphoneos-arm64
Description: Backport the modern Home Screen customize experience to iOS 15, 16, and 17.
Maintainer: Futur3Sn0w
Author: Futur3Sn0w
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 15.0)
License: GPL-3.0-or-later
