Package: com.futur3sn0w.noseparators
Name: NoSeparators
Version: 0.0.1
Architecture: iphoneos-arm
Description: Hide common UIKit separator lines systemwide on iOS 11.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: firmware (>= 11.0), mobilesubstrate, preferenceloader
