Package: com.futur3sn0w.docklibrary
Icon: https://futur3sn0w.github.io/repo/icons/com.futur3sn0w.docklibrary.png
SileoDepiction: https://futur3sn0w.github.io/repo/depictions/com.futur3sn0w.docklibrary.json
Name: DockLibrary
Version: 0.4.1
Architecture: iphoneos-arm64
Description: Swipe up from the dock to open the App Library.
Maintainer: futur3sn0w
Author: futur3sn0w
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 14.0)
